<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "events" %>
<% end %>

<% content_for :pgcontent do %>
<div style="min-height:550px">
<div class="canvas">

    <div class="row">
			<div class="container">
	      <div class="col s12 m4">
	        <h4 class="title">EVENTS</h4>
	        <div class="borderline"></div>
	        <h5>
	            <center>
	                <a class="typewrite" data-period="2000" data-type='[ "Participate.", "Explore.", "Learn Something New.", "INFOXPRESSION - 2017" ]'>
	                    <span class="wrap"></span>
	                </a>
	            </center>
	        </h5>
				</div>
				<div class="col s12 m8">
	            <center>	
				<%if user_signed_in? %>
	            	<a class="registerevtbtn" href="/myevents">My events</a>
	            <% end %>	
								<form>
	                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Events..."onmousedown="showDisplay()">
									<div class="col-s-12 filter-segment">
											<input class="with-gap" name="category" id="all" type="radio" checked  onclick="f()" />
											<label for="all">All</label>
											<input class="with-gap" name="category" id="programming" value="programming" type="radio" onclick="f1()" />
											<label for="programming">Programming</label>
											<input class="with-gap" name="category" id="electronics" value="electronics" type="radio" onclick="f1()" />
											<label for="electronics">Electronics</label>
											<input class="with-gap" name="category" id="enterpreneurial" value="enterpreneurial" type="radio" onclick="f1()" />
											<label for="enterpreneurial">Enterpreneurial</label>
											<input class="with-gap" name="category" id="workshops" value="workshops" type="radio" onclick="f1()" />
											<label for="workshops">Workshops</label>
											<input class="with-gap" name="category" id="nontech" value="nontech" type="radio" onclick="f1()" />
											<label for="nontech">Non-Tech</label>
									</div>
								</form>
	            </center>
				</div>
			</div>
		</div>

		<div class="row">

    	<div class="col s12 m12">
        <div class="container-fluid card-container " id="card-container">
            <%@event.each do |event|%>
                <div class="card <%= event.category%>" id = "<%= event.Eventidm%>">
                    <div class="card-image"><img src="/uploads/<%= event.image%>" style="size: "></div>
                    <div class="card-info">
                        <div class="card-title"><%=raw event.Name%></div>
                        <div class="card-detail"><%=raw event.sd%></div>
                    </div>
                    <div class="card-social center">
											<div class="registerevtbtn-block">
                        <a href="/event?id=<%= event.Eventidm%>" class="registerevtbtn">Register </a>
					</div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>

</div>
</div>
<% end %>

<% content_for :pgscripts do %>
	<%= javascript_include_tag 'events' %>
<% end %>
