


<img src="/uploads/Algoholics.png"><br>

<%= @event.Event_id%><br>
<%= @event.Name%><br>
<%= @event.about%><br>
<%= @event.facebook_link%><br>
<%= @event.organizer1_name%><br>
<%= @event.organizer1_phone%><br>
<%= @event.organizer2_name%><br>
<%= @event.organizer2_phone%><br>


<% if current_user%>
  <%if @user%>
    <a href="#">You have Already Registered</a>
  <%else%>
  <%= link_to "Register for Event ", url_for(controller: :event, action: :eventregister,:Event_id=>@event.id), method: :post%>

  	<%end%>

  	<%else%>
   <a href="/users/auth/facebook">Sign in to register</a>
<%end%>
