<% content_for :pgcontent do %>
<div class="container tile gradient-border" id="box" style="margin-top:15vh;margin-bottom:15vh;background:white;">


    <div class="row" style="margin:0px">
      <h4>
          <center>
              <%=raw @event.Name%>
          </center>
      </h4>
        <div class="col s12 m4" style="padding:0px;">

            <img src="/uploads/<%= @event.image%>" style="width:100%">
        </div>
        <div class="col s12 m8" style="padding:10px;">

            <br>
            <div class="col s12">
            <p><%=raw @event.about%></p>
            </div>
            <div class="col s12">
            Follow us on facebook<br>
              <a href="<%= @event.facebook_link%>"style="color:black"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

            </div>


            <div class="col s12">
            Venue:&nbsp;&nbsp;&nbsp;   <%=raw @event.venue%>
            </div>


           <div class="col s12">
             Organisers:<br>
             <table class="centered">
                 <tbody>
                     <tr>
                        <td><%=raw @event.organizer1_name%></td>
                        <td><%= @event.organizer1_phone%></td>
                    </tr>
                    <tr>
                       <td><%=raw @event.organizer2_name%></td>
                       <td><%= @event.organizer2_phone%></td>
                   </tr>
                </tbody>
             </table>
           </div>
           <div class="col s12">
             <% if current_user%>
                 <%if @user%>
                     <a href="#">
                         <div class="col s12 cta cta-container transition"><center>already registered!</center></div>
                     </a>
                 <%else%>
                     <div class="col s12 cta cta-container transition"><center><%= link_to "Register for Event ", url_for(controller: :event, action: :eventregister,:Eventidm=>@event.Eventidm), method: :post, :onclick => 'return confirm("Do you really want to submit the form?")';%></center></div>
               	<%end%>
             <%else%>
                <a href="/users/auth/facebook">
                    <div class="col s12 cta cta-container transition">Sign In To Register</div></a>
             <%end%>
           </div>
       </div>
    </div>
</div>
<% end %>

<% content_for :pgstyles do %>

  <style>
  .tile
{
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  font-family:'Roboto';

}
  .tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
  .cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
  </style>

<% end %>
