<%= render 'myeventjsandcss'%>

<%@event.each do |v|%>
    <script>
        object.count+=1;
    </script>
<%end%>
<div class="col s12"style="background:rgba(0,0,0,0.8);margin-top:10vh;display:none;margin-bottom:20vh;color:white"id="noevent">
    <center><br><br><br><h4>Oops..No events to show!!</h4><br>
    <h5>Register and try again</h5><br></center>
</div>
<div class="container"id="eventhead"style="margin-bottom:50px;color:white;padding-top:15vh">
    <div class="col s12"style="background:rgba(0,0,0,0.8);">
        <center>
            <h5>
                My Events
            </h5>
        </center>
    </div>
    <div class="row"style="padding-bottom:20vh;overflow-x:hidden;">
        <%@event.each do |v|%>
            <% event=Event.find_by_id(v.id)%>
                    <div class="col s12 m4">
                        <div class="card responsiveness"style="width:100%;opacity:0.8">
                            <div class="card-image waves-effect waves-block waves-light"style="height:80%">
                                <img class="activator" src="/uploads/<%= event.image%>">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <i class="material-icons right">more_vert</i>
                                </span>
                            </div>
                            <div class="card-reveal"style="overflow:hidden;background:rgba(0,0,0,0.8);">
                                <span class="card-title">
                                    <i class="material-icons">close</i>
                                </span><br>
                                <font color="white">
                                    <center><%=raw event.Name%><hr>
                                            <a class="modal-trigger" href="#<%= event.Event_id%>mainmodal"style="color:white">
                                                <div class="waves-effect waves-light btn"style="color:white">More...
                                                </div>
                                            </a>
                                    </center>
                                </font>
                            </div>
                        </div>
                    </div>
            <!-- Modal Structure -->
            <div id="<%= event.Event_id%>mainmodal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s12 m5">
                            <img src="/uploads/<%= event.image%>"width="100%">
                        </div>
                        <div class="col s12 m7">
                                <font color="black">
                                    <div class="row"style="background:rgba(0,0,0,1);color:white;padding-top:10px;padding-bottom:10px">
                                        <center><%=raw event.Name%>
                                        </center>
                                    </div>
                                    <%=raw event.about%>
									<hr>
									<u>Venue:</u>&nbsp;&nbsp;&nbsp;<%=raw event.venue%>
                                    <hr>
                                    <table class="striped">
                                       <tbody>
                                         <tr>
                                           <td>Date</td>
                                           <td><%= event.date%></td>
                                         </tr>
                                         <tr>
                                           <td>Time</td>
                                           <td>IST <%= event.time%></td>
                                         </tr>
                                       </tbody>
                                     </table>
                                     <hr>
                                     <a href="<%= event.facebook_link%>"style="color:black">Like and Follow us on Facebook for updates:
                                         <br>
                                         <i class="fa fa-facebook-square fa-3x" aria-hidden="true">
                                         </i>
                                     </a>
                                     <hr>
                                     Co-ordinators:
                                     <table class="striped">
                                        <tbody>
                                          <tr>
                                            <td><%= event.organizer1_name%></td>
                                            <td><%= event.organizer1_phone%></td>
                                          </tr>
                                          <tr>
                                            <td><%= event.organizer2_name%></td>
                                            <td><%= event.organizer2_phone%></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </font>
                        </div>
                    </div>
                </div>
                 <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                 </div>
            </div>
            <script>
                $(document).ready(function(){
                  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                    $('#<%= event.Event_id%>mainmodal').modal();
                });
             </script>
        <%end%>
    </div>
    <!--Had to define this here since materialize js gem is absent-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
 </div>
