<% content_for :pgstyles do %>
    <%= stylesheet_link_tag "event/myevents" %>
<% end %>


<% content_for :pgcontent do %>
<!--Injected javascript for getting count-->
<div style="min-height:550px">
<script>
    object={count:0};
</script>
<!--Incremental Loop-->
<%@event.each do |v|%>
    <script>
        object.count+=1;
    </script>
<%end%>
<br>
<br>
<div class="container" style="margin-bottom:50px;color:white;">
<div class="row">
    <div class="col s12 m8">
    <div class="row">
        <center>
            <h4 style="margin-top: 0px;font-family: 'Julius Sans One', sans-serif; color: black">
                My Events
            </h4>
            <div class="borderline"></div>
        </center>
    </div>
    <div class="row">
        <div class="col s12 center">
        <a class="registerevtbtn" href="/profile" style="color: black">Update profile</a>
        </div>
    </div>
    <div class="row">
    <div class="col s12" style="background:rgba(0,0,0,0.8);border-radius: 5px;display:none;font-family : 'Julius Sans One', sans-serif; color:white" id="noevent">
        <center><br>
        <h5>Register and try again</h5>
         <p>You haven't registered for any events yet</p>
        <a class="registerevtbtn" href="/events" style="color: black">Register for events</a>
       <br>
       <br>
       <div class="row">
       <a href="/event?id=1"><div class="col s6"><div class="flagship"><img src="/images/hackathon logo.png" width="100%"></div></div></a>
       <a href="/event?id=2"><div class="col s6"><div class="flagship"><img src="/images/codester-logo.png" width="100%"></div></div></a>
       </div>
       </center>
    </div>
    </div>
    <div class="row" id="eventhead" style="overflow-x:hidden;padding-left:0px">
        <%@event.each do |v|%>
            <% event=Event.find_by_Eventidm(v.Eventidm)%>
            <a class="modal-trigger" href="#<%= event.Eventidm%>mainmodal" style="color:white">
                    <div class="mycard" style="opacity:0.8;padding:0px;">
                        <div class="imageContainer" style="width:100%;height:75%;overflow:hidden;padding:0px">
                            <img src="/uploads/<%= event.image%>" style="width:100%;height:auto;max-width:100%">
                        </div>
                        <div class="name"style="width:100%;overflow:hidden;">
                            <h5><center><%=raw event.Name%></center></h5>
                        </div>
                    </div>
                </a>

            <!-- Modal Structure -->
            <div id="<%= event.Eventidm%>mainmodal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s12 m6">
                            <img src="/uploads/<%= event.image%>"width="100%">
                        </div>
                        <div class="col s12 m6">
                          <h3>
                          <center class="hide-on-med-and-up">

                          </center>
                          <center>
                              <%=raw event.Name%>
                          </center>
                      </h3>


                                    <div class="col s12" style="font-family:'Cousine';">
                                    About:&nbsp;&nbsp;&nbsp;<%=raw event.about%>
                                  </div>

                                     <div class="col s12">
                                     Venue:&nbsp;&nbsp;&nbsp;   <%=event.venue%>
                                     </div>

                                     <div class="col s12">
                                     Date:&nbsp;&nbsp;&nbsp;   <%=event.date%>
                                     </div>

                                                 <div class="col s12">
                                                 Time:&nbsp;&nbsp;&nbsp;   <%=event.time%>
                                                 </div>

                                     <div class="col s12">

                                       <a href="<%= event.facebook_link%>" style="text-decoration: underline;">Facebook event page <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                                       <br>
                                       <br>
                                     </div>
                                  <div class="col s12">
                                     Co-ordinators:<br>
                                     <table class="center">
                                        <tbody>
                                          <tr>
                                            <td><%= event.organizer1_name%></td>
                                            <td><%= event.organizer1_phone%></td>
                                          </tr>
                                          <tr>
                                            <td><%= event.organizer2_name%></td>
                                            <td><%= event.organizer2_phone%></td>
                                          </tr>
                                        </tbody>
                                      </table></div>

                        </div>
                    </div>
                </div>
                 <div class="modal-footer">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
                 </div>
            </div>
            <script>
                $(document).ready(function(){
                  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                    $('#<%= event.Eventidm%>mainmodal').modal();
                });
             </script>
        <%end%>
    </div>
    </div>
    <div class="col s12 m4 center">
        <div class="fb-contain">
        <div  class="fb-page" data-href="https://www.facebook.com/infoxpression/" data-tabs="events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/infoxpression/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/infoxpression/">InfoXpression</a></blockquote>
        </div>
        </div>
    </div>
    </div>
 </div>
 </div>

 <% end %>



<% content_for :pgscripts do %>
<script src="/uploads/threedata/three.js"></script>
<script src="/uploads/threedata/Detector.js"></script>
<script src="/uploads/threedata/GPUComputationRenderer.js"></script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag 'event/myevents' %>
<% end %>
