<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Infoxpression2017</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    </head>

<body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><img style="height: 50px; padding-top: 10px; " src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li style="margin-left: 50px;"><a style="padding-right: 50px; padding-left: 50px;" href="/">Home</a></li>
            <li><a style="padding-right: 50px; padding-left: 50px;" href="/about">About</a></li>
            <li><a style="padding-right: 50px; padding-left: 50px;" href="/schedule">Schedule</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li style="margin-right: 300px; margin-left: -450px;"><a style="padding-left: 50px; padding-right: 50px;" href="/events">Events</a></li>
            <li style="margin-right: 50px; margin-left: -300px;"><a style="padding-left: 50px; padding-right: 50px;" href="/team">Team</a></li>
            <li style="margin-right: 50px; margin-left: -150px;"><a style="padding-left: 50px; padding-right: 50px;" href="/Contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
          <ul class="side-nav" id="mobile-demo">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/Contact">Contact Us</a></li>
          </ul>


    <div id="body">
       <p class="notice"><%= notice %></p>
             <p class="alert"><%= alert %></p>
        <%if !user_signed_in? %>
        <div id="social_links">
           <ul>
            <li><a href="/users/auth/facebook"><img src="http://www.old.ittf.com/media/16wttc/subscription/images/facebook.png" style="width: 50px;"></a></li>
        </div>
        <%else%>
          <ul id="slide-out" class="side-nav">
            <p><div class="user-view" style="background-image: url(https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);"><br>
              <img style="padding: 10px;" class="circle" src="<%= current_user.profile%>"><br> 
              <span style="padding-left: 10px; font-size: 16px; font-weight: 700" class="white-text name"><%= current_user.name%></span><br>
              <span style="padding-left: 10px;" class="white-text email">ID : <%= current_user.id%></span>
              <br>
              <br>
            </div></p> 
            <p><i style="font-size: 30px; padding-right: 10px;" class="material-icons">event_note</i><%= link_to "My Events", url_for(controller: :event, action: :myevents), method: :post%></p>
            <li><div class="divider"></div></li>
            <p><i style="font-size: 30px; padding-right: 10px;" class="material-icons">arrow_forward</i><%= link_to "Log out", destroy_user_session_path, :method => :delete%></p>
            <li><div class="divider"></div></li>
          </ul>
      <div id="social_links">
      <a style="background-color: rgba(0,0,0,0.5); color: white; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" href="#" data-activates="slide-out" class="button-collapse" style="color: black;"><img style="height: 50px; padding-top: 10px; " src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"><br>My Infox</a>
      </div>

        <%end%>

    <main>
          <%= yield %>
    </main>

    </div>
    <div id="footer" class="bg-one">
          <div class="row">
            <div class="col m4 s12" style="text-align: center;">
                <br>
                <a href="index.html"><img width="80px" src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>
                <br />
                <h5><a style="color:#db5726" href="#">Techspace</a></h5>
                <h5><a style="color:#db5726" href="#">E-Cell</a></h5>
                <h5><a style="color:#db5726" href="#">IEEE</a></h5>
                <h5><a style="color:#db5726" href="#">IETE</a></h5>
                <h5><a style="color:#db5726" href="#">SAINT</a></h5>
            </div>
            <div class="col m4 s12">
              <div class="social-icon" style="text-align: center;">
              <br>
                  <a href="https://play.google.com/store/apps/details?id=in.infoxpression.infoxpression"><i class="fa fa-android"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/infoxpression?_rdr" target="_blank"><i class="fa fa-facebook"></i></a><br><br>
                    <h5 style="font-family:ubuntu; text-align: center;"> Guru Gobind Singh Indraprastha University <br>Sector 16C, Dwarka
                    <br> InfoXpression 2017
                      <br>infoxpression.usict@gmail.com
                      <br>infox@ipu.ac.in
                      <br>www.ipu.ac.in/infox17/
                    </h5>
              </div>
            </div>

            <div class="col m4 s12" style="text-align: center;">
                <br>
                <br>
                <h4>Contact</h4>
                <br/>
                <a href="mailto:infox@ipu.ac.in"><h5><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;           infox@ipu.ac.in</a></h5>
                <h5><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;+91-9871381106</h5>
                <h5><a href="http://www.techspace.club" >www.techspace.club</a></h5>
            </div>
          </div>
          <div class="copyright" style="text-align: center;">
            <p style="color: black;">Infox Copyright &copy; 2016. All Rights Reserved.</p>
          </div>
    </div>
</body>
</html>
<script type="text/javascript">

  window.sr = ScrollReveal();
  sr.reveal('#body .card-container',{
      duration: 1000,
      origin :'bottom',
      distance: '300px',
      viewFactor: 0
   }); 
  sr.reveal('#footer .col',{
      duration: 2000,
      origin :'bottom',
   }); 
  
</script>

<style type="text/css">  
.side-nav{
  background-color: orange;
  width: 200px;
}
  .fa-facebook{
     color: white;
     font-size: 2em;
  }
  #social_links {
    position: fixed;
    z-index: 10000;
    right: 0px;
    top: 65px;
    display: flex;
    padding: 20px;
    padding-right: 10px;  
}
  #social_links li{
    list-style: none;
  }
  #body{
    min-height: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#d0d0d0;
    bottom: 0px;
    border-top: 2px solid grey;
  }
  nav .nav-wrapper{
    background-color: rgba(0,0,0,0.4);
   z-index: 20000;
  }
  nav{
    background-color: rgba(0,0,0,0.4);
   z-index: 20000;
  }
  nav ul li a{
    font-size: 20px;
  }
  .side-nav{
    z-index: 20000;
  }
  a{
    color: #db5726;
  }

</style>
<script>

$( document ).ready(function(){


$(".button-collapse").sideNav();

})

</script>
</style>
