<!DOCTYPE html>
<html>
  <head>
    <title>Infoxpression2017</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Latest compiled and minified CSS -->
  </head>

  <body>

  <nav class="nav-inverse">
    <div class="nav-wrapper">
    <a class="brand-logo" href="/"><img style="height: 40px;" src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/Contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>


 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<main>
    <%= yield %>
</main>

  </body>
</html>


<style type="text/css">
  .nav-wrapper {
   background-color: black;
}
</style>