<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="infox usict infoxpression technical fest ggsipu ipu march festival">
    <meta name="author" content="Naveen Yadav Shubham Gupta Rohan Goyal">
    <title>Infoxpression2017</title>
    <link rel="icon" href="/uploads/logo.jpg" type="image/ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    </head>
<body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><img style="height: 50px; padding-top: 10px;" src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"style="color:white"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li style="margin-left: 2.5em;"><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/">Home</a></li>
            <li><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/about">About</a></li>
            <li><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/schedule">Schedule</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li style="margin-right: 15em; margin-left: -35em;"><a style="padding-left: 2.5em; padding-right: 2.5em;" href="/events">Events</a></li>
            <li style="margin-right: 2.5em; margin-left: -21.5em;"><a style="padding-left: 2em; padding-right: 2em;" href="/Sponsors">Sponsors</a></li>
            <li style="margin-right: 2.5em; margin-left: -7.5em;"><a style="padding-left: 1.5em; padding-right: 1.5em;" href="/Contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul style="background-color: orange;" class="side-nav" id="mobile-demo">
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px; margin-top: 20px;"><a href="/">Home</a></li>
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px;"><a href="/about">About</a></li>
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px;"><a href="/schedule">Schedule</a></li>
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px;"><a href="/events">Events</a></li>
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px;"><a href="/Sponsors">Sponsors</a></li>
        <li style="background-color: rgba(255,153,0,0.8); text-align: center;margin-bottom: 10px;"><a href="/Contact">Contact Us</a></li>
    </ul>
    <div id="body">
        <script>
            $(document).ready(function(){
                    $('.modal').modal();
                    var notice='<%= notice %>';
                    var loggedOut='Signed out successfully.';
                    var loggedIn='Successfully authenticated from Facebook account.';
                    if(notice==loggedIn||notice==loggedOut)
                    {
                        $('#modal1').modal('open');
                    }
              });
        </script>
        <div id="modal1" class="modal"style="z-index:9999">
            <div class="modal-content">
                <p><%= notice %></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <%if !user_signed_in? %>
            <div id="social_links">
                <ul>
                    <li>
                        <a href="/users/auth/facebook">
                            <img src="/uploads/fblogo.png" style="width: 50px;">
                        </a>
                    </li>
                </ul>
            </div>
        <%else%>
            <ul id="slide-out" class="side-nav">
                <p>
                    <div class="user-view" style="background-image: url(/uploads/sidenavbg.jpg);"><br>
                        <img style="padding: 10px;" class="circle" src="<%= current_user.profile%>"><br>
                        <span style="padding-left: 10px; font-size: 16px; font-weight: 700" class="white-text name"><%= current_user.name%></span><br>
                        <br>
                        <br>
                    </div>
                </p>
                <p>
                    <i style="font-size: 30px; padding-right: 10px;" class="material-icons">event_note</i>
                    <%= link_to "My Events", url_for(controller: :event, action: :myevents), method: :post%>
                </p>
                <li>
                    <div class="divider"></div>
                </li>
                <p>
                    <i style="font-size: 30px; padding-right: 10px;" class="material-icons">arrow_forward</i>
                    <%= link_to "Log out", destroy_user_session_path, :method => :delete%>
                </p>
                <li>
                    <div class="divider"></div>
                </li>
          </ul>
          <div id="social_links">
              <a style="background: rgba(0,0,0,0.5); color:white;padding:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" href="#" data-activates="slide-out" class="button-collapse" style="color: black;">
                  <center>
                      <i class="material-icons"style="font-size:40px">account_circle</i>
                      <br>My InfoX
                  </center>
              </a>
          </div>
       <%end%>
        <main>
            <%= yield %>
        </main>
    </div>
    <div id="footer" class="bg-one"style="overflow-x:hidden">
          <div class="row">
            <div class="col m3 s12" style="text-align: center;">
                <br>
                <a href="/"><img width="70px" src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>
                <br />
                <h5 style="font-size: 15px;"><a style="color:#db5726" href="#">Techspace</a></h5>
                <h5 style="font-size: 15px;"><a style="color:#db5726" href="#">E-Cell</a></h5>
                <h5 style="font-size: 15px;"><a style="color:#db5726" href="#">IEEE</a></h5>
                <h5 style="font-size: 15px;"><a style="color:#db5726" href="#">IETE</a></h5>
                <h5 style="font-size: 15px;"><a style="color:#db5726" href="#">SAINT</a></h5>
            </div>
            <div class="col m6 s12">
              <div class="social-icon" style="text-align: center;">
              <br>
                  <a href="https://play.google.com/store/apps/details?id=in.infoxpression.infoxpression"><i class="fa fa-android"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="https://www.facebook.com/infoxpression?_rdr" target="_blank"><i class="fa fa-facebook"></i></a><br><br>
                    <h5 style="font-family:ubuntu; text-align: center; color: white;font-size: 20px;"> Guru Gobind Singh Indraprastha University <br>Sector 16C, Dwarka
                    <br> InfoXpression 2017
                      <br><span>infoxpression.usict@gmail.com</span>
                      <br>infox@ipu.ac.in
                      <br>www.ipu.ac.in/infox17/
                    </h5>
              </div>
            </div>

            <div class="col m3 s12" style="text-align: center;">
                <br>
                <h5 style="font-weight: 500;color: white; font-size: 30px;">Contact</h5>
                <br/>
                <a style="color: white;" href="mailto:infox@ipu.ac.in"><h5 style="font-size: 1.2em;"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;           infox@ipu.ac.in</a></h5>
                <h5 style="font-size: 1em; color: white"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;+91-9871381106</h5>
                <h5 style="font-size: 1.2em;"><a href="http://www.techspace.club" style="color:white;">TECHSPACE</a></h5>
                <br>
                <a class="waves-effect waves-light btn pulse" style="background:#db5726; color: white; font-weight: 700;" href="/team">&lt;Team/&gt;
                </a>
            </div>
          </div>
          <div class="copyright" style="text-align: center;">
            <p style="color: white;">Infox Copyright &copy; 2017 All Rights Reserved.</p>
          </div>
    </div>
</body>
</html>
<script type="text/javascript">
//scroll animations
  window.sr = ScrollReveal();
  sr.reveal('#body .card-container .card',{
      duration: 1000,
      origin :'bottom',
      viewFactor: 0,
   });
  sr.reveal('#footer .col',{
      duration: 2000,
      origin :'top',
   });
  sr.reveal('#sponsors img',{
    duration: 1000,
    origin: 'bottom',
  })
//for navbar collapsing
$( document ).ready(function(){
$(".button-collapse").sideNav();
})
</script>
