<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Infoxpression2017</title>
    <link rel="icon" href="/uploads/logo.jpg" type="image/ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    </head>
<body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><img style="height: 50px; padding-top: 10px;" src="http://prabhanshugupta.me/infoxpression/img/logo-infox%20trans-bg.jpg"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"style="color:white"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li style="margin-left: 2.5em;"><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/">Home</a></li>
            <li><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/about">About</a></li>
            <li><a style="padding-right: 2.5em; padding-left: 2.5em;" href="/schedule">Schedule</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li style="margin-right: 15em; margin-left: -35em;"><a style="padding-left: 2.5em; padding-right: 2.5em;" href="/events">Events</a></li>
            <li style="margin-right: 2.5em; margin-left: -21.5em;"><a style="padding-left: 2em; padding-right: 2em;" href="/Sponsors">Sponsors</a></li>
            <li style="margin-right: 2.5em; margin-left: -7.5em;"><a style="padding-left: 1.5em; padding-right: 1.5em;" href="/Contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/Sponsors">Sponsors</a></li>
        <li><a href="/Contact">Contact Us</a></li>
     </ul>
    <div id="body">
        <script>
            $(document).ready(function(){
                    $('.modal').modal();
                    var notice='<%= notice %>';
                    var loggedOut='Signed out successfully.';
                    var loggedIn='Successfully authenticated from Facebook account.';
                    if(notice==loggedIn||notice==loggedOut)
                    {
                        $('#modal1').modal('open');
                    }
              });
        </script>
        <div id="modal1" class="modal"style="z-index:9999">
            <div class="modal-content">
                <p><%= notice %></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <%if !user_signed_in? %>
            <div id="social_links">
                <ul>
                    <li>
                        <a href="/users/auth/facebook">
                            <img src="/uploads/fblogo.png" style="width: 50px;">
                        </a>
                    </li>
                </ul>
            </div>
        <%else%>
            <ul id="slide-out" class="side-nav">
                <p>
                    <div class="user-view" style="background-image: url(/uploads/sidenavbg.jpg);"><br>
                        <img style="padding: 10px;" class="circle" src="<%= current_user.profile%>"><br>
                        <span style="padding-left: 10px; font-size: 16px; font-weight: 700" class="white-text name"><%= current_user.name%></span><br>
                        <br>
                        <br>
                    </div>
                </p>
                <p>
                    <i style="font-size: 30px; padding-right: 10px;" class="material-icons">event_note</i>
                    <%= link_to "My Events", url_for(controller: :event, action: :myevents), method: :post%>
                </p>
                <li>
                    <div class="divider"></div>
                </li>
                <p>
                    <i style="font-size: 30px; padding-right: 10px;" class="material-icons">arrow_forward</i>
                    <%= link_to "Log out", destroy_user_session_path, :method => :delete%>
                </p>
                <li>
                    <div class="divider"></div>
                </li>
          </ul>
          <div id="social_links">
              <a style="background: rgba(0,0,0,0.5); color:white;padding:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" href="#" data-activates="slide-out" class="button-collapse" style="color: black;">
                  <center>
                      <i class="material-icons"style="font-size:40px">account_circle</i>
                      <br>My InfoX
                  </center>
              </a>
          </div>
       <%end%>
        <main>
            <%= yield %>
        </main>
    </div>
    <div class="mycontainer"id="footer"style="padding-bottom:50px">
        <div class="part1 column"style="padding-top:30px">
                <center>
                    <img src="/uploads//logo.jpg"style="width:70px;">
                    <br>
                    <br>
                    <br>
                    <font color="#db5726"size="4px"face="ubuntu">
                        <a href="#"style="color:#db5726;text-decoration:none;">Techspace</a><br>
                        <div style="height:10px"></div>
                        <a href="#"style="color:#db5726;text-decoration:none">E-Cell</a><br>
                        <div style="height:10px"></div>
                        <a href="#"style="color:#db5726;text-decoration:none">IEEE</a><br>
                        <div style="height:10px"></div>
                        <a href="#"style="color:#db5726;text-decoration:none">IETE</a><br>
                        <div style="height:10px"></div>
                        <a href="#"style="color:#db5726;text-decoration:none">SAINT</a>
                    </font>
                </center>
        </div>
        <div class="part2 social-icon column"style="padding-top:30px;">
                <center>
                    <font color="white"size="4px"face="ubuntu">
                        <a href="https://play.google.com/store/apps/details?id=in.infoxpression.infoxpression"><i class="fa fa-android"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.facebook.com/infoxpression?_rdr" target="_blank"><i class="fa fa-facebook"></i></a><br><br>
                        Guru Gobind Singh Indraprastha University<br>
                        Sector 16C, Dwarka
                        <br> InfoXpression 2017
                          <br>infoxpression.usict@gmail.com
                          <br>infox@ipu.ac.in
                          <br>www.ipu.ac.in/infox17/
                    </font>
                </center>
        </div>
        <div class="part1 column"style="padding-top:40px">
            <font color="#db5726"size="4px"face="ubuntu">
                Contact<br>
            </font>
            <br>
            <br>
            <br>
            <font color="white"size="4px"face="ubuntu">
                <a style="color: white;" href="mailto:infox@ipu.ac.in"><h5 style="font-size: 1.5em;"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; infox@ipu.ac.in</a><br>
                <div style="height:10px"></div>
                <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;
                +91-9871381106<br>
                <div style="height:10px"></div>
                www.techspace.club
                <br>
                <br>
                <a class="btn waves-effect waves-light pulse" style="background:#db5726;" href="/team">&lt;Team/&gt;
                </a>
           </font>
        </center>
    </div>
    <div class="partsmall1 column"style="padding-top:30px">
            <center>
                <img src="/uploads//logo.jpg"style="width:70px;">
                <br>
                <br>
                <br>
                <font color="#db5726"size="3px"face="ubuntu">
                    <a href="#"style="color:#db5726;text-decoration:none;">Techspace</a><br>
                    <div style="height:10px"></div>
                    <a href="#"style="color:#db5726;text-decoration:none">E-Cell</a><br>
                    <div style="height:10px"></div>
                    <a href="#"style="color:#db5726;text-decoration:none">IEEE</a><br>
                    <div style="height:10px"></div>
                    <a href="#"style="color:#db5726;text-decoration:none">IETE</a><br>
                    <div style="height:10px"></div>
                    <a href="#"style="color:#db5726;text-decoration:none">SAINT</a>
                </font>
            </center>
    </div>
    <div class="partsmall2 column"style="padding-top:40px">
        <font color="#db5726"size="3px"face="ubuntu">
            Contact<br>
        </font>
        <br>
        <br>
        <br>
        <font color="white"size="3px"face="ubuntu">
            <a style="color: white;" href="mailto:infox@ipu.ac.in"><h5 style="font-size: 1.5em;"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; infox@ipu.ac.in</a><br>
            <div style="height:10px"></div>
            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; &nbsp;
            +91-9871381106<br>
            <div style="height:10px"></div>
            www.techspace.club
            <br>
            <br>
            <a class="btn waves-effect waves-light pulse" style="background:#db5726;" href="/team">&lt;Team/&gt;
            </a>
       </font>
    </center>
    </div>
    <div class="totalrow">
        <center>&copy;&nbsp;InfoXpression 2017.All rights reserved.</center>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
//scroll animations
  window.sr = ScrollReveal();
  sr.reveal('#body .card-container .card',{
      duration: 1000,
      origin :'bottom',
      viewFactor: 0,
   });
  sr.reveal('#footer .column',{
      duration: 2000,
      origin :'top',
   });
  sr.reveal('#sponsors img',{
    duration: 1000,
    origin: 'bottom',
});

//for navbar collapsing
$( document ).ready(function(){

$(".button-collapse").sideNav();

})

</script>
